.button {
    padding: 12px 25px;
    width: 135px;
    height: 45px;
    background-color: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    &_promo {
        background-color: transparent;
        box-shadow: none;
    }
}