.experience {
    padding-top: 126px;
    position: relative;
    &_head {
        text-align: center;
        @include before_circle;
        &:before {
            top: 121px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_subhead {
        text-align: center;
        margin-bottom: 25px;
    }
    &__wrapper {
        padding: 65px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &_title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -7px;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
            }
        }
        &_item {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: -8px;
                left: 0;
                width: 1px;
                height: calc(100% + 8px);
                background-color: #000;
            }
            &::before {
                content: "";
                position: absolute;
                top: 64px;
                left: 0;
                width: 40px;
                height: 1px;
                background-color: #000;
            }
        }
        &_header {
            padding-left: 100px;
            padding-top: 45px;
            margin-bottom: 5px;
        }
        &_subheader {
            margin-bottom: 12px;
            padding-left: 100px;
            font-size: 12px;
            line-height: 18px;
        }
        &_text {
            padding-left: 43px;
            font-size: 12px;
            line-height: 18px;
        }
        &_icon {
            position: absolute;
            top: 62px;
            left: 55px;
            @include before_circle;
            &::before {
                top: -15px;
                left: -15px;
            }
        }

    }

}