.leftpanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    width: 25px;
    top: 225px;
    left: 50px;
    z-index: 1000;
    
    &__mark {
        height: 70px;
        width: 2px;
        background-color: #000000;
    }
    &__text {
        height: 150px;
        width: 25px;
        span {
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-30%, -262%);
        }
    }

    &__item {
        &:hover {
            svg path {
                fill: $main-color;
            }
        }
    }
}